<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176742698671-66jddalhmorh95kmb3itmoh4mkvqjimi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176742698671-66jddalhmorh95kmb3itmoh4mkvqjimi</string>
	<key>API_KEY</key>
	<string>AIzaSyB3jvJWeMaUxpzdwho_H73j1kv7RqozdrA</string>
	<key>GCM_SENDER_ID</key>
	<string>176742698671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeeasy</string>
	<key>PROJECT_ID</key>
	<string>homeeasy-90607</string>
	<key>STORAGE_BUCKET</key>
	<string>homeeasy-90607.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176742698671:ios:5501f0bfed067cee9f8e5a</string>
	<key>DATABASE_URL</key>
	<string>https://homeeasy-90607-default-rtdb.firebaseio.com</string>
</dict>
</plist>